In [1]:
import pandas as pd
survey = pd.read_excel('Sample Survey.xlsx')
print (survey)

      response_id collection_date urban_rural               education  \
0               1      2020-08-24       Rural               12th Pass
1               2      2020-08-24       Rural                Graduate
2               3      2020-08-24       Rural                Graduate
3               4      2020-08-24       Urban                Graduate
4               5      2020-08-24       Rural                Graduate
...           ...             ...         ...                     ...
6862         6863      2020-09-01       Rural               10th Pass
6863         6864      2020-09-01       Rural                Graduate
6864         6865      2020-09-01       Urban                Graduate
6865         6866      2020-09-01       Rural  Professional Education
6866         6867      2020-09-01       Rural               10th Pass

                   income Vote_Now     Past_Vote     CM_satisfaction  \
0     ₹ 30,000 - ₹ 50,000      BJP           BJP  Fully Dissatisfied
1     ₹ 20,000 - ₹ 30,000     RLSP         JD(U)  Somewhat Satisfied
2      ₹ 5,000 - ₹ 10,000   JAP(L)           BJP  Fully Dissatisfied
3     ₹ 10,000 - ₹ 20,000      RJD           RJD  Fully Dissatisfied
4     ₹ 50,000 - ₹ 80,000    JD(U)  Did not vote     Fully Satisfied
...                   ...      ...           ...                 ...
6862    BPL/Below ₹ 5,000    JD(U)           BJP     Fully Satisfied
6863    BPL/Below ₹ 5,000      RJD           RJD  Fully Dissatisfied
6864   ₹ 5,000 - ₹ 10,000   JAP(L)           RJD           Can’t say
6865  ₹ 10,000 - ₹ 20,000      BJP  Did not vote     Fully Satisfied
6866   ₹ 5,000 - ₹ 10,000   JAP(L)        JAP(L)     Fully Satisfied

        MLA_satisfaction  age gender  assembly_no category    weight
0     Fully Dissatisfied   26   Male          211      Gen  0.346969
1     Fully Dissatisfied   34   Male          189       BC  0.603419
2     Somewhat Satisfied   25   Male          191      Gen  0.673762
3     Somewhat Satisfied   36   Male          194      Gen  1.101298
4        Fully Satisfied   22   Male          176       BC  0.333505
...                  ...  ...    ...          ...      ...       ...
6862  Fully Dissatisfied   25   Male          166      Gen  0.036329
6863  Fully Dissatisfied   30   Male          169       BC  0.252780
6864  Fully Dissatisfied   20   Male          241      Gen  1.812926
6865  Somewhat Satisfied   23   Male          243      Gen  0.080137
6866     Fully Satisfied   33   Male          241      Gen  1.797518

[6867 rows x 14 columns]

In [2]:
survey['count'] = 1
survey.groupby(['collection_date']).count()['count']

collection_date
2020-08-24    1479
2020-08-25     998
2020-08-26     598
2020-08-27     665
2020-08-28     761
2020-08-29     620
2020-08-30     582
2020-08-31     557
2020-09-01     607
Name: count, dtype: int64

In [3]:
x = sum(survey['age'].value_counts().loc[lambda x : x>45])
y = sum(survey['age'].value_counts())
x/y*100

95.25265763797874

In [4]:
age_group = survey.assign(agegroup=pd.cut(survey['age'], bins=[0,18,25,40,55], right=False, labels=['18-25','25-40','40-55','55+']))
cols = list(age_group.columns)
age_group = age_group[[cols[0]]+[cols[-1]]+[cols[9]]]
age_group

      response_id agegroup  age
0               1    40-55   26
1               2    40-55   34
2               3    40-55   25
3               4    40-55   36
4               5    25-40   22
...           ...      ...  ...
6862         6863    40-55   25
6863         6864    40-55   30
6864         6865    25-40   20
6865         6866    25-40   23
6866         6867    40-55   33

[6867 rows x 3 columns]

In [5]:
age_group['agegroup'].value_counts()

40-55    3844
25-40    2094
55+       801
18-25       0
Name: agegroup, dtype: int64

In [6]:
age_group['agegroup'].value_counts()[:1].sort_values(ascending=False)

40-55    3844
Name: agegroup, dtype: int64

In [7]:
proportion_1 = survey['Vote_Now'].value_counts(normalize=True) * 100
proportion_1.loc[["RJD"]]
proportion_2 = survey['Past_Vote'].value_counts(normalize=True) * 100
proportion_2.loc[["RJD"]]
proportion_1.loc[["RJD"]],proportion_2.loc[["RJD"]]

(RJD    29.06655
 Name: Vote_Now, dtype: float64,
 RJD    15.246833
 Name: Past_Vote, dtype: float64)

In [10]:
survey['count'] = 1
(survey.groupby(['collection_date','MLA_satisfaction']).count()['count'])/(survey.groupby(['collection_date']).count()['count'])*100

collection_date  MLA_satisfaction
2020-08-24       Can’t say                 5.070994
                 Fully Dissatisfied       59.972955
                 Fully Satisfied          10.141988
                 Somewhat Dissatisfied     8.181204
                 Somewhat Satisfied       16.632860
2020-08-25       Can’t say                 4.609218
                 Fully Dissatisfied       63.126253
                 Fully Satisfied           7.214429
                 Somewhat Dissatisfied     7.014028
                 Somewhat Satisfied       18.036072
2020-08-26       Can’t say                 5.685619
                 Fully Dissatisfied       59.030100
                 Fully Satisfied          10.367893
                 Somewhat Dissatisfied     7.023411
                 Somewhat Satisfied       17.892977
2020-08-27       Can’t say                 5.563910
                 Fully Dissatisfied       60.601504
                 Fully Satisfied           9.172932
                 Somewhat Dissatisfied     8.571429
                 Somewhat Satisfied       16.090226
2020-08-28       Can’t say                 4.993430
                 Fully Dissatisfied       60.709593
                 Fully Satisfied          10.249671
                 Somewhat Dissatisfied     7.358739
                 Somewhat Satisfied       16.688568
2020-08-29       Can’t say                 5.645161
                 Fully Dissatisfied       56.451613
                 Fully Satisfied          11.451613
                 Somewhat Dissatisfied     8.709677
                 Somewhat Satisfied       17.741935
2020-08-30       Can’t say                 4.810997
                 Fully Dissatisfied       62.027491
                 Fully Satisfied          10.652921
                 Somewhat Dissatisfied     5.670103
                 Somewhat Satisfied       16.838488
2020-08-31       Can’t say                 5.385996
                 Fully Dissatisfied       57.630162
                 Fully Satisfied          10.592460
                 Somewhat Dissatisfied     8.078995
                 Somewhat Satisfied       18.312388
2020-09-01       Can’t say                 4.448105
                 Fully Dissatisfied       63.426689
                 Fully Satisfied           9.060956
                 Somewhat Dissatisfied     8.072488
                 Somewhat Satisfied       14.991763
Name: count, dtype: float64

In [11]:
survey['count'] = 1
(survey.groupby(['collection_date','CM_satisfaction']).count()['count'])/(survey.groupby(['collection_date']).count()['count'])*100

collection_date  CM_satisfaction
2020-08-24       Can’t say                 2.772143
                 Fully Dissatisfied       43.407708
                 Fully Satisfied           9.871535
                 Somewhat Dissatisfied     9.939148
                 Somewhat Satisfied       34.009466
2020-08-25       Can’t say                 3.406814
                 Fully Dissatisfied       43.386774
                 Fully Satisfied           9.519038
                 Somewhat Dissatisfied     9.018036
                 Somewhat Satisfied       34.669339
2020-08-26       Can’t say                 3.678930
                 Fully Dissatisfied       43.143813
                 Fully Satisfied           9.866221
                 Somewhat Dissatisfied     8.528428
                 Somewhat Satisfied       34.782609
2020-08-27       Can’t say                 3.458647
                 Fully Dissatisfied       44.210526
                 Fully Satisfied           8.120301
                 Somewhat Dissatisfied    11.879699
                 Somewhat Satisfied       32.330827
2020-08-28       Can’t say                 3.810775
                 Fully Dissatisfied       45.860710
                 Fully Satisfied          12.089356
                 Somewhat Dissatisfied    10.775296
                 Somewhat Satisfied       27.463863
2020-08-29       Can’t say                 3.387097
                 Fully Dissatisfied       45.645161
                 Fully Satisfied          11.774194
                 Somewhat Dissatisfied    10.645161
                 Somewhat Satisfied       28.548387
2020-08-30       Can’t say                 2.749141
                 Fully Dissatisfied       42.955326
                 Fully Satisfied          11.168385
                 Somewhat Dissatisfied     9.450172
                 Somewhat Satisfied       33.676976
2020-08-31       Can’t say                 4.129264
                 Fully Dissatisfied       45.062837
                 Fully Satisfied          11.131059
                 Somewhat Dissatisfied     9.156194
                 Somewhat Satisfied       30.520646
2020-09-01       Can’t say                 4.448105
                 Fully Dissatisfied       41.515651
                 Fully Satisfied          12.355848
                 Somewhat Dissatisfied     9.719934
                 Somewhat Satisfied       31.960461
Name: count, dtype: float64